<h1>Welcome to SpaceMax! The friendliest dealership in the galaxy!</h1>

<!-- Get all vehicles. -->

<h1>Car Name</h1>
<form action="<%= vehicle_path %>" method="get">
  <%= select_tag "vehicle", options_for_select(@vehicles, 'name') %>
  <input type="hidden" name="vehicles" value="<%= ActiveSupport::JSON.encode @vehicles %>">
  <input type="submit" value="Submit">
</form>