<input type="hidden" name="vehicles" value="<%= ActiveSupport::JSON.encode @vehicles %>">

<h1>Vehicles#show</h1>
<p><%= "You selected the #{@vehicle[:name]}, model #{@vehicle[:model]}." %><br>
<%= "It costs #{@vehicle[:cost]} credits." %><br>
<%= "It was manufactured by #{@vehicle[:manufacturer]}." %></p>
